@import include-media.scss
@import views.sass
@import typography.sass
@import atomics.sass
@import cards.sass

// Design-tokens
:root
  --page-grid-gap: 12px
  --page-column-gap: 16px
  
  // Theme debug
  --color-background: #F3C

  // Form fields
  --color-field-background: #F3C
  --color-field-hover-background: #F3C
  --color-field-background-active: #F3C
  --color-field-border: #F3C
  --color-field-hover-border: #F3C
  --color-field-border-active: #F3C

  --z-index-navigation: 2000
  --z-index-fabs: 3000
  --z-index-nav-tray: 4000
  --z-index-snacks: 9000

body
  font-family: 'Cabin', 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0
  padding: 0
  color: var(--color-medium)

  a
    color: var(--color-link)
    text-decoration: none
    &:hover
      color: var(--color-link-hover)
      text-decoration: underline

// Hide scrollbars
body::-webkit-scrollbar
  display: none
body
  -ms-overflow-style: none // IE and Edge
  scrollbar-width: none // Firefox