@import typography-mixins.sass
@import include-media.scss

@include media('<600px')
  .hideOnMobile
    display: none !important

@include media('>=600px')
  .onlyOnMobile
    display: none !important

span.code
  @include TypeCode()
  background-color: var(--color-rise-a)
  color: var(--chroma-secondary-e)
  padding: 0 6px
  border-radius: 4px

section.titledList
  display: grid
  grid-template-columns: 1fr 2fr