@import typography-mixins.sass
@import include-media.scss

@include media('<600px')
  .hideOnMobile
    display: none !important

@include media('>=600px')
  .onlyOnMobile
    display: none !important

@include media('>=1024px')
  .hideOnDesktop
    display: none !important

@include media('<1024px')
  .onlyOnDesktop
    display: none !important

span.code
  @include TypeCode()
  background-color: var(--color-rise-a)
  color: var(--chroma-secondary-e)
  padding: 0 6px
  border-radius: 4px

section.titledList, div.titledList
  display: grid
  grid-template-columns: 1fr 2fr
  gap: 8px

.layer-important
  z-index: 239489023840923849

@mixin darkThemeAtomics
  .rise-0
    background: none
  .rise-1
    background-color: rgba(255, 255, 255, 0.05)
  .rise-2
    background-color: rgba(255, 255, 255, 0.07)
  .rise-3
    background-color: rgba(255, 255, 255, 0.08)

@mixin lightThemeAtomics
  .rise-0
    box-shadow: none
  .rise-1
    box-shadow: 0px 0px 6px -2px var(--chroma-secondary-e)
  .rise-2
    box-shadow: 1px 1px 10px -1px var(--chroma-secondary-e)
  .rise-3
    box-shadow: 2px 2px 18px -1px var(--chroma-secondary-e)

// Default to dark theme!
body
  @include darkThemeAtomics()

body.light-theme
  @include lightThemeAtomics()

// Styles for users who prefer light mode at the OS level
@media (prefers-color-scheme: light)
  // defaults to light theme
  body
    @include lightThemeAtomics()
  // Override light mode with dark mode styles if the user decides to swap
  body.dark-theme
    @include darkThemeAtomics()
  
