@import typography-mixins.sass

body
  #app
    .TypeHeadline3
      @include TypeHeadline3()
    .TypeHeadline4
      @include TypeHeadline4()
    .TypeHeadline5
      @include TypeHeadline5()
    .TypeHeadline6
      @include TypeHeadline6()
    .TypeBody1  
      @include TypeBody1()
    .TypeBody2
      @include TypeBody2()
    .TypeButton
      @include TypeButton()
    .TypeCaption
      @include TypeCaption()
    .TypeCode
      @include TypeCode()

body
  h1
    @include TypeHeadline3()
    @include dont-break-out()
  h2
    @include TypeHeadline4()
    @include dont-break-out()
  h3
    @include TypeHeadline5()
    @include dont-break-out()
  h4
    @include TypeHeadline6()
    @include dont-break-out()
  p
    @include TypeBody1()
    @include dont-break-out()
  .Column
    table
      border-collapse: collapse
      th
        @include TypeBody1()
        font-weight: 700
        border-bottom: solid 1px var(--color-rise-b)
      td
        @include TypeBody2()
        padding: 4px 8px
  .card
    h1, h2, h3, h4
      @include TypeHeadline5()
      margin: 0
      padding: 0
    p.subtitle
      @include TypeCaption()
      margin: 0
      padding: 0
      
      